+templateWrapper(templateName)
	//-span #{templateName}

	+templateConditionalDisplay('title')
		h2.rt-title
			span.title {{title}}
			+templateConditionalDisplay('source')
				span.source {{source}}
			//- {{attribute}}
	+templateConditionalDisplay('requirements')
		.template-row.requirements
			|{{requirements}}
	+templateConditionalDisplay('acquisition')
		.template-row.acquisition.center
			|Acquisition: {{acquisition}}
	+templateConditionalDisplay('range')
		.template-row
			.attack
				.range
					|Range
				|{{range}}
				.roll-total
					|{{roll}}
					.strong-hits
						|Strong Hits: {{computed::strong_hits}}
				.munitions
					|Munitions
				|{{munitions}}
				.endurance
					|End
				|{{endurance}}
				.critical
					|Crit
				|{{critical}}
	+templateConditionalDisplay('range', true)
		+templateConditionalDisplay('roll')
			.template-row
				.roll-total
					|{{roll}}
					+templateConditionalDisplay('strong_hits')
						.strong-hits
							|Strong Hits: {{computed::strong_hits}}
	+templateConditionalDisplay('description')
		.template-row.description
			span(style="text-align:left") {{description}}
