+templateWrapper(templateName)
	//-span #{templateName}

	+templateConditionalDisplay('title')
		h2.rt-title {{title}}
	+templateConditionalDisplay('roll')
		.template-row
			|Tr + Tb + Wb + Attr + Mod = +X
		.template-row
			//- +templateConditionalDisplay('roll_name')
			//- 	h5 {{roll_name}}
			//- +templateConditionalDisplay('roll_name','invert')
			//- 	h5(data-i18n='roll')

			.result
				|{{computed::roll}} / {{roll}}
			.result
				|{{computed::roll1}} / {{roll1}}
			.result
				|{{computed::roll2}} / {{roll2}}
			.result
				|{{computed::roll3}} / {{roll3}}
			.result
				|{{computed::roll4}} / {{roll4}}
			.result
				|{{computed::roll5}} / {{roll5}}
			.result
				|{{computed::roll6}} / {{roll6}}

	+templateConditionalDisplay('description')
		.description
			p(style="text-align:left") {{description}}
