+templateWrapper(templateName)
	//-span #{templateName}

	+templateConditionalDisplay('title')
		h2.rt-title
			span.title {{title}}
			+templateConditionalDisplay('source')
				span.source {{source}}
			//- {{attribute}}
	+templateConditionalDisplay('requirements')
		.template-row.requirements
			span(style="text-align:left") {{requirements}}
	+templateConditionalDisplay('roll')
		//- .template-row
		//- 	span {{trained}} Tr +
		//- 	+templateConditionalDisplay('toolbox')
		//- 		span {{toolbox}} Tb +
		//- 	+templateConditionalDisplay('workshop')
		//- 		span {{workshop}} Ws +
		//- 	span {{attributeModifier}} Attr +
		//- 	span {{modifier}} Mod =
		//- 	span {{total}}
		.template-row
			.roll-total
				|{{roll}}
		.template-row
			.strong-hits
				|Strong Hits: {{computed::strong_hits}}

	+templateConditionalDisplay('description')
		.template-row.description
			span(style="text-align:left") {{description}}
