+templateWrapper(templateName)
	//-span #{templateName}

	+templateConditionalDisplay('title')
		h2.rt-title {{title}}
	+templateConditionalDisplay('roll')
		.template-row
			+templateConditionalDisplay('roll_name')
				h5 {{roll_name}}
			+templateConditionalDisplay('roll_name','invert')
				h5(data-i18n='roll')

			span.result
				|{{computed::roll}}
			span.result
				|{{computed::roll1}}
			span.result
				|{{computed::roll2}}
			span.result
				|{{computed::roll3}}
			span.result
				|{{computed::roll4}}
			span.result
				|{{computed::roll5}}
			span.result
				|{{computed::roll6}}

	+templateConditionalDisplay('description')
		.description
			p(style="text-align:left") {{description}}
