+templateWrapper(templateName)
	span #{templateName}

	+templateConditionalDisplay('title')
		h2 {{title}}
	+templateConditionalDisplay('roll')
		.template-row
			+templateConditionalDisplay('roll_name')
				h5 {{roll_name}}
			+templateConditionalDisplay('roll_name','invert')
				h5(data-i18n='roll')

			span.result
				|{{computed::roll}}

	+templateConditionalDisplay('description')
		.description
			p(style="text-align:left") {{description}}
