mixin attributeHeader(showColumns)
	if showColumns == null
		- showColumns = { modifier: true, name: true, current: true, limit: true, trait: true }

	if showColumns.name
		.name.column
	
	if showColumns.modifier
		+label({label:"mod",
			divObj:{class:"column"},
			spanObj:{class:"column",'data-i18n-title':'Skill modifier'}
			})
	if showColumns.current
		+label({label:"current", divObj:{class:"column"}, spanObj:{class:"column"}})
	if showColumns.limit
		+label({label:"limit", divObj:{class:"column"}, spanObj:{class:"column"}})
	if showColumns.trait
		+label({label:"trait", divObj:{class:""}, spanObj:{class:""}})

//- build an attribute row
mixin attributeRow(attr, showColumns)
	if showColumns == null
		- showColumns = { modifier: true, name: true, current: true, limit: true, trait: true }

	//- - console.log ("attributeRow()", attr.name, showColumns.modifier);

	if showColumns.name
		+label({label:attr.name}).name

	-
		const trigger = {
			calculation:'calcAttributeSkillMod',
			affects: skillsByAttribute[attr.name]
			};
	- let mod = [];

	if showColumns.modifier
		- mod.push(`${attr.name}_skill_modifier`);
		+attributeSkillMod({
			name:`${attr.name}_skill_modifier`,
			value:0,
			classAdd:' column',
			trigger: trigger
			})

	//-	console.log ("skillsByAttribute{}", name, skillsByAttribute[name]);
	- const affecting = [...mod, ...attr.affects];
	//- - console.log (trigger);
	//- - console.log (affecting);

	if showColumns.limit
		+currentMaxLimit({name:attr.name,trigger:{affects:affecting}})
	else
		+currentMax({name:attr.name,trigger:{affects:affecting}})

	if showColumns.trait
		+trait({name:`${attr.name}_trait`, trigger:{affects:affecting}})

//- End mixin

//- setup a field to store the skill mod numerically while displaying something fancier
mixin attributeSkillMod({name,defaultValue,trigger})
	span(class='readonly')
		-
			const trueDefault = defaultValue === undefined ?
				0 :
				defaultValue;
		+hidden({name,class:'attribute-skill-mod',value:trueDefault,trigger})
		+span({class:'readonly-display',name})
			|#{trueDefault}
//- End mixin
