mixin calculatedHeader
	.name.column
	+label({label:"value",
		divObj:{class:""},
		spanObj:{class:"",'data-i18n-title':'Calculated value'}
		})
	+label({label:"calculation", divObj:{class:"column"}, spanObj:{class:"column"}})

mixin calculatedRow(attr)
	+label({label:attr.name}).name
	+calculation(attr)
	//-console.log ("calculatedRow()", attr);

mixin calculation({name,formula,formulaText})
	+readOnly({
		name,
		trigger: {formula}
		}).column
	div
		span.small.padded= formulaText
		+number({
			name:`${name}_modifier`,
			trigger:{affects:[name]}
			})
