-
	const attributes = [
		'strength',
		'reflexes',
		'mobility',
		'focus',
		'intelligence',
		'grit'
	];
-
	const primarySkills = {
		wealth:{name:'wealth',attribute:''},
		persuasion:{name:'persuasion',attribute:'focus'},
		leadership:{name:'leadership',attribute:'strength'},
		psychology:{name:'psychology',attribute:'integlligence'},
		culture:{name:'culture',attribute:'grit'},
		physical:{name:'physical',attribute:'mobility'},
		resolve:{name:'resolve',attribute:'grit'},
		awareness:{name:'awareness',attribute:'focus'},
		stealth:{name:'stealth',attribute:'mobility'},
		mechanics:{name:'mechanics',attribute:'strength'},
		electronics:{name:'electronics',attribute:'focus'},
		computers:{name:'computers',attribute:'intelligence'},
		biotech:{name:'biotech',attribute:'grit'},
		medicine:{name:'medicine',attribute:'reflexes'},
		astronomy:{name:'astronomy',attribute:'intelligence'},
		planets:{name:'planets',attribute:'reflexes'},
	};
-
	const personalCombatSkills = [
		'smallarms', 'heavyarms', 'tactical', 'exotic'
	];
-
	const shipCombatSkills = [
		'command', 'engineering', 'operations', 'gunnery'
	];
