-
	const baseAttributes = [
		'strength',
		'reflexes',
		'mobility',
		'focus',
		'intelligence',
		'grit'
	];
-
	const primarySkills = {
		wealth:{name:'wealth',attribute:''},
		persuasion:{name:'persuasion',attribute:'focus'},
		leadership:{name:'leadership',attribute:'strength'},
		psychology:{name:'psychology',attribute:'intelligence'},
		culture:{name:'culture',attribute:'grit'},
		physical:{name:'physical',attribute:'mobility'},
		resolve:{name:'resolve',attribute:'grit'},
		awareness:{name:'awareness',attribute:'focus'},
		stealth:{name:'stealth',attribute:'mobility'},
		mechanics:{name:'mechanics',attribute:'strength'},
		electronics:{name:'electronics',attribute:'focus'},
		computers:{name:'computers',attribute:'intelligence'},
		biotech:{name:'biotech',attribute:'grit'},
		medicine:{name:'medicine',attribute:'reflexes'},
		astronomy:{name:'astronomy',attribute:'intelligence'},
		planets:{name:'planets',attribute:'reflexes'},
	};
-
	const personalCombatSkills = {
		smallarms:{name:'smallarms'},
		heavyarms:{name:'heavyarms'},
		tactical:{name:'tactical'},
		exotic:{name:'exotic'}
	};
-
	const shipCombatSkills = {
		command:{name:'command'},
		engineering:{name:'engineering'},
		operations:{name:'operations'},
		gunnery:{name:'gunnery'}
	};
-
	const allSkills = { ...primarySkills, ...personalCombatSkills, ...shipCombatSkills };
-
	const skillsByAttribute = {};
-
	for (const skillName in primarySkills)
	{
		const skill = primarySkills[skillName];
		//console.log ("skill", skill);
		if (!skill.attribute) { continue; }
		if (skillsByAttribute[skill.attribute] == null)
		{
			skillsByAttribute[skill.attribute] = [];
		}
		skillsByAttribute[skill.attribute].push(skill.name);
	}
//-	console.log ("skillsByAttribute{}", skillsByAttribute);

