-
	const baseAttributes = {
		strength:{name:'strength',affects:['endurance_max','equipment_slots_max']},
		reflexes:{name:'reflexes',affects:['combat_order','defence']},
		mobility:{name:'mobility',affects:[]},
		focus:{name:'focus',affects:[]},
		intelligence:{name:'intelligence',affects:['combat_order']},
		grit:{name:'grit',affects:['grit_rolls_max','recovery']}
	};
	const characterCalculated= {
		combat_order:{name:'combat_order',formula:'@{intelligence_max} + (@{reflexes_max}/10) + @{combat_order_modifier}',formulaText:'= Int + Ref/10 +'},
		defence:{name:'defence',formula:'10 + @{reflexes} + @{defence_modifier}',formulaText:'= 10 + Ref +'},
		endurance_max:{name:'endurance_max',formula:'10 + 5 * @{strength_max} + @{endurance_max_modifier}',formulaText:'= 10 + 5 * Str +'},
		equipment_slots:{name:'equipment_slots',formula:'@{strength} + 6 + @{equipment_slots_modifier}',formulaText:'= Str + 6 + '},
		grit_rolls_max:{name:'grit_rolls_max',formula:'@{grit} + @{grit_rolls_max_modifier}',formulaText:'= Grit +'},
		influence_max:{name:'influence_max',formula:'@{level} + 3 + @{influence_max_modifier}',formulaText:'= Level + 3 +'},
		recovery:{name:'recovery',formula:'@{grit} + @{recovery_modifier}',formulaText:'= Grit +'},
		resources_max:{name:'resources_max',formula:'@{level} + 3 + @{resources_max_modifier}',formulaText:'= Level + 3 +'}
	};
	const outpostAttributes = {
		farms:{name:'farms',affects:['influence_cost']},
		mines:{name:'mines',affects:['influence_cost']},
		industry:{name:'industry',affects:['influence_cost']},
		prosperity:{name:'prosperity',affects:['influence_cost','cargo_space','wealth','soldiers']},
		security:{name:'security',affects:['influence_cost','workforce','soldiers']},
		order:{name:'order',affects:['influence_cost','wealth','workforce']}
	};
	const outpostCalculated = {
		cargo_space_max:{name:'cargo_space_max',formula:'2*@{prosperity}+@{cargo_space_max_modifier}',formulaText:'= 2 * Pro +'},
		wealth:{name:'wealth',formula:'@{prosperity}+@{order}+@{wealth_modifier}',formulaText:'= Pro + Ord +'},
		workforce:{name:'workforce',formula:'@{security}+@{order}+@{workforce_modifier}',formulaText:'= Sec + Ord +'},
		soldiers:{name:'soldiers',formula:'@{prosperity}+@{security}+@{soldiers_modifier}',formulaText:'= Pro + Sec +'}
	};
	const outpostProduction = {
		produce_food:{name:'produce_food',formula:`2*@{farms}+@{produce_food_modifier}`,formulaText:'= 2 * Farms +'},
		produce_organisms:{name:'produce_organisms',formula:`@{farms}-2+@{produce_organisms_modifier}`,formulaText:'= Farms - 2 +'},
		produce_ore:{name:'produce_ore',formula:`2*@{mines}+@{produce_ore_modifier}`,formulaText:'= 2 * Mines +'},
		produce_energy:{name:'produce_energy',formula:`@{mines}-2+@{produce_energy_modifier}`,formulaText:'= Mines - 2 +'},
		produce_machinery:{name:'produce_machinery',formula:`2*@{industry}+@{produce_machinery_modifier}`,formulaText:'= 2 * Industry +'},
		produce_tech:{name:'produce_tech',formula:`@{industry}-2+@{produce_tech_modifier}`,formulaText:'= Industry - 2 +'}
	};

	const primarySkills = {
		wealth:{name:'wealth',attribute:''},
		persuasion:{name:'persuasion',attribute:'focus'},
		leadership:{name:'leadership',attribute:'strength'},
		psychology:{name:'psychology',attribute:'intelligence'},
		culture:{name:'culture',attribute:'grit'},
		physical:{name:'physical',attribute:'mobility'},
		resolve:{name:'resolve',attribute:'grit'},
		awareness:{name:'awareness',attribute:'focus'},
		stealth:{name:'stealth',attribute:'mobility'},
		mechanics:{name:'mechanics',attribute:'strength'},
		electronics:{name:'electronics',attribute:'focus'},
		computers:{name:'computers',attribute:'intelligence'},
		biotech:{name:'biotech',attribute:'grit'},
		medicine:{name:'medicine',attribute:'reflexes'},
		astronomy:{name:'astronomy',attribute:'intelligence'},
		planets:{name:'planets',attribute:'reflexes'},
	};

	const personalCombatSkills = {
		smallarms:{name:'smallarms'},
		heavyarms:{name:'heavyarms'},
		tactical:{name:'tactical'},
		exotic:{name:'exotic'}
	};

	const shipCombatSkills = {
		command:{name:'command'},
		engineering:{name:'engineering'},
		operations:{name:'operations'},
		gunnery:{name:'gunnery'}
	};

	const allSkills = { ...primarySkills, ...personalCombatSkills, ...shipCombatSkills };
	const allSkillNames = Object.keys(allSkills);

	// create a mapping from attributes to associated skills as an array of skill names
	const skillsByAttribute = {};
	for (const skillName in primarySkills)
	{
		const skill = primarySkills[skillName];
		//console.log ("skill", skill);
		if (!skill.attribute) { continue; }
		if (skillsByAttribute[skill.attribute] == null)
		{
			skillsByAttribute[skill.attribute] = [];
		}
		skillsByAttribute[skill.attribute].push(skill.name);
	}
