-
	const baseAttributes = {
		strength:{name:'strength',affects:['endurance_max','equipment_slots_max']},
		reflexes:{name:'reflexes',affects:['combat_order','defence']},
		mobility:{name:'mobility',affects:[]},
		focus:{name:'focus',affects:[]},
		intelligence:{name:'intelligence',affects:['combat_order']},
		grit:{name:'grit',affects:['grit_rolls_max','recovery']}
	};

	const primarySkills = {
		wealth:{name:'wealth',attribute:''},
		persuasion:{name:'persuasion',attribute:'focus'},
		leadership:{name:'leadership',attribute:'strength'},
		psychology:{name:'psychology',attribute:'intelligence'},
		culture:{name:'culture',attribute:'grit'},
		physical:{name:'physical',attribute:'mobility'},
		resolve:{name:'resolve',attribute:'grit'},
		awareness:{name:'awareness',attribute:'focus'},
		stealth:{name:'stealth',attribute:'mobility'},
		mechanics:{name:'mechanics',attribute:'strength'},
		electronics:{name:'electronics',attribute:'focus'},
		computers:{name:'computers',attribute:'intelligence'},
		biotech:{name:'biotech',attribute:'grit'},
		medicine:{name:'medicine',attribute:'reflexes'},
		astronomy:{name:'astronomy',attribute:'intelligence'},
		planets:{name:'planets',attribute:'reflexes'},
	};

	const personalCombatSkills = {
		smallarms:{name:'smallarms'},
		heavyarms:{name:'heavyarms'},
		tactical:{name:'tactical'},
		exotic:{name:'exotic'}
	};

	const shipCombatSkills = {
		command:{name:'command'},
		engineering:{name:'engineering'},
		operations:{name:'operations'},
		gunnery:{name:'gunnery'}
	};

	const allSkills = { ...primarySkills, ...personalCombatSkills, ...shipCombatSkills };
	const allSkillNames = Object.keys(allSkills);

	// create a mapping from attributes to associated skills as an array of skill names
	const skillsByAttribute = {};
	for (const skillName in primarySkills)
	{
		const skill = primarySkills[skillName];
		//console.log ("skill", skill);
		if (!skill.attribute) { continue; }
		if (skillsByAttribute[skill.attribute] == null)
		{
			skillsByAttribute[skill.attribute] = [];
		}
		skillsByAttribute[skill.attribute].push(skill.name);
	}
