//- render a combination current/max input box
mixin currentMax({name, trigger})
	.current-max
		+input({name:name,type:'number',trigger:trigger})
		span.divider
		+input({name:`${name}_max`,type:'number',trigger:trigger})

//- render a combination current/max input box with a limit box
mixin currentMaxLimit({name, trigger})
	+currentMax({name, trigger})
	.limit
		+input({name:`${name}_limit`,type:'number',trigger:trigger})

mixin currentMax-label({label, inputObj, divObj, spanObj})
	if divObj
		- divObj.class = divObj.class ? replaceProblems(divObj.class) : undefined;
	if inputObj
		- inputObj.class = inputObj.class ? replaceProblems(inputObj.class) : undefined;
	if spanObj
		- spanObj.class = spanObj.class ? replaceProblems(spanObj.class) : undefined;
	label.input-label&attributes(divObj)&attributes(attributes)
		- inputObj.name = inputObj.name.replace(/\s+/g,'_');
		- inputObj.class = inputObj.class ? `${inputObj.class} input-label__input` : 'input-label__input';
		if spanObj
			- spanObj.class = spanObj.class ? `${spanObj.class} input-label__text` : 'input-label__text';
		span(data-i18n=label)&attributes(spanObj)
		+currentMax(inputObj)
