//- Include your component pug files here.
//- include ./example-include.js
include ./_constants.pug
include ./_attribute.pug
include ./_skill.pug
include ./_trait.pug
include ./_currentMax.pug
include ./_label.pug
include ./_readOnly.pug
