mixin trait ({name, trigger})
	.trait-container.collapse-container
		+collapse(`${name}_toggle_collapse`)
		.trait
			+input({name,
				type:'text',
				trigger
				})
			+button({
				name:name,
				type:'action',
				class:'pictos',
				'data-i18n':'w',
				trigger: {
					triggeredFuncs: ['postTrait']
					}
				})
			//-span('data-i18n'='w',).pictos w
		.expanded
			+input({
				name:`${name}_requirements`,
				type: 'text',
				'data-i18n-placeholder':'Requirements'
				})
			+adaptiveTextarea({
				name:`${name}_text`,
				'data-i18n-placeholder':'Trait details'
				})
