mixin trait ({name, trigger})
	.trait-container.collapse-container&attributes(attributes)
		+collapse(`${name}_toggle_collapse`)(checked=0)
		.trait
			+input({name,
				type:'text',
				trigger
				})
			+button({
				name:name,
				type:'action',
				class:'pictos',
				'data-i18n':'w',
				trigger: {
					triggeredFuncs: ['postTrait']
					}
				})
		.expanded
			+input({
				name:`${name}_requirements`,
				type: 'text',
				'data-i18n-placeholder':'Requirements'
				})
			+textarea({
				name:`${name}_text`,
				'data-i18n-placeholder':'Trait details'
				})
