mixin trait ({name, trigger})
	.trait-container.collapse-container
		+collapse(`${name}_toggle_collapse`)
		.trait
			+input({name,
				type:'text',
				trigger
				})
			+button({
				name:`${name}_post`,
				type:'action',
				class:'pictos',
				'data-i18n':'w',
				trigger: {
					triggeredFuncs: ['postTrait']
					}
				})
		.expanded
			+input({
				name:`${name}_requirement`,
				type: 'text'
				})
			+adaptiveTextarea({
				name:`${name}_traitText`,
				'data-i18n-placeholder':'Trait details'
				})
