@use 'k-scaffold' as k;

%font-vars{
	--topHeaderFont:Arial;
	--midHeaderFont:Arial;
	--contentFont:Arial;
}
%universalVariables{
	// Layout variables
	--grid-gap: 1rem;//Variable to define our basic gap between layout elements. Followed by several gaps that are mathematically related to it.
	--half-gap: calc(var(--grid-gap) / 2);
	--tiny-gap: calc(var(--half-gap) / 2);
	--big-gap: calc(var(--grid-gap) * 2);
	--spanSectionColumn:1/-1;//How a section should span when it is meant to span large numbers of columns (default span all)
	--fillLeftRadioSize: 1rem;
	--fillLeftRadioWidth:var(--fillLeftRadioSize);
	--fillLeftRadioHeight:var(--fillLeftRadioSize);
	
	// Animation variables
	--revealTime: 500ms;//Our basic reveal time for transitions
	--delayTime: 200ms;//Our basic delay time before a transition occurs
	--inputSwap: opacity var(--revealTime) ease var(--delayTime);//Transition properties for swapping the visibility of two elements
	--focusTiming: 500ms ease;//our basic timing for the transition used when an element is focused or hovered on
	--focusTrans: all var(--focusTiming);//The full transition properties for focusing/hovering on an element

	// color variables
	--borderColor: black;//Our basic border color
	--fontColor: black;//Our basic font color
	--backColor: #ffffff;//Our basic background color
	--subHeadBackColor:grey;//Our sub header background color
	--unselectedColor1:lightgrey;//Our default font color for items that are currently inactive
	--unselectedColor2:transparent;
	--selectedColor:black;
	--checkColor:black;
	--darkCheck:white;
	--disabledColor:grey;
	--calculationColor: lightskyblue;

	// Border sizing variables
	--displayBorderWidth: 2px;//Our default border width
	@extend %font-vars;
}
%systemVariables {
	@extend %universalVariables;
	--midHeadFont: sans-serif;
	--contentFont: sans-serif;
	--font3: sans-serif;
}

@mixin all {
	@include k.variables;
	// Customize your variables here
	--borderColor: black;
	--borderWidth: 1px;

	--checkboxBorderColor: black;
	--checkboxWidth: 1rem;
	--checkboxHeight: 1rem;
	--checkedBackColor: lightgrey;
	--checkContent: '+1';
	--checkSize: 10pt;

	--numberWidth: 1.25rem;

	// spacing
	--column-gap: 5px;

	// font selection
	--topHeadFont: 'PT Sans Narrow', sans-serif;
	--midHeadFont: 'PT Sans Narrow', sans-serif;
	--contentHeadFont: 'PT Sans Narrow', sans-serif;
	--contentFont: 'PT Sans Narrow', sans-serif;
	--fontSize: 16px;

	// transformations
	--input-label-text-transform: capitalize;
}

@mixin dark {
	@include k.darkMode;
	// Customize your darkmode variable states and styling here.
	--borderColor: white;//Our basic border color
	--fontColor: #eee;//Our basic font color
	--backColor: #1f1f1f;//Our basic background color
	--subHeadBackColor:grey;//Our sub header background color
	--unselectedColor1:lightgrey;//Our default font color for items that are currently inactive
	--unselectedColor2:transparent;
	--selectedColor:white;
	--checkColor:white;
	--darkCheck:#1f1f1f;
	--dark-secondarytext:#eee;
	--checkboxBorderColor:white;
	--checkColor:var(--fontColor);
	--checkedBackColor:#444;
}