label(for='level').input-label
	span(data-i18n='level')
.value
	+number({name:'level'})
	+number({name:'sessions'})
+trait({name:'level_trait'}).span-2

label(for='resources').input-label
	span(data-i18n='resources')
+currentMax({name:'resources'})
+trait({name:'resources_trait'}).span-2

label(for='influence').input-label
	span(data-i18n='influence')
+currentMax({name:'influence'})
+trait({name:'influence_trait'}).span-2

label(for='grit_rolls').input-label
	span(data-i18n='grit re-rolls')
+currentMax({name:'grit_rolls'})

label(for='spare_time').input-label
	span(data-i18n='spare time')
+number({name:'spare_time'})

label(for='endurance').input-label
	span(data-i18n='endurance')
+currentMax({name:'endurance'})

label(for='defence').input-label
	span(data-i18n='defence')
+number({name:'defence'})

label(for='recovery').input-label
	span(data-i18n='recovery')
+number({name:'recovery'})

label(for='combat order').input-label
	span(data-i18n='combat order')
.nowrap
	+number({name:'combat order', step:'0.1'})
	+roller({
		name:'rollCombatOrder',
		trigger:{triggeredFuncs:['rollInitiative']}
		})

label(for='armour').input-label
	span(data-i18n='armour')
+number({name:'armour'})

label(for='munition').input-label
	span(data-i18n='munition')
+number({name:'munition'})

//- languages? workaround: racial details
//- racial details? workaround: perks
//- outfit/weapon variations and mods? workaround: description
//- don't like adaptiveText spreading horizontally
//- initiative button
//- roll template attack skill overflowing on long weapon names
//- default values missing
