label(for='level').input-label
	span(data-i18n='level')
.value
	+number({name:'level'})
	+number({name:'sessions'})
+trait({name:'level_trait'})

label(for='resources').input-label
	span(data-i18n='resources')
+currentMax({name:'resources'})
+trait({name:'resources_trait'})

label(for='influence').input-label
	span(data-i18n='influence')
+currentMax({name:'influence'})
+trait({name:'influence_trait'})

label(for='grit_rolls').input-label
	span(data-i18n='grit re-rolls')
+currentMax({name:'grit_rolls'}).span-2

label(for='spare_time').input-label
	span(data-i18n='spare time')
+currentMax({name:'spare_time'}).span-2

label(for='endurance').input-label
	span(data-i18n='endurance')
+currentMax({name:'endurance'}).span-2

label(for='defence').input-label
	span(data-i18n='defence')
+number({name:'defence'}).span-2

label(for='recovery').input-label
	span(data-i18n='recovery')
+number({name:'recovery'}).span-2

label(for='combat order').input-label
	span(data-i18n='combat order')
+number({name:'combat order'}).span-2

label(for='armour').input-label
	span(data-i18n='armour')
+number({name:'armour'}).span-2

label(for='munition').input-label
	span(data-i18n='munition')
+number({name:'munition'}).span-2
