section(data-i18n-aria-label="equipment")
	h2(data-i18n='equipment')
	.header
		label(for='equipment slots').input-label
			span(data-i18n='equipment slots')
		+number({name:'equipment slots'}).span-2

	+customControlFieldset({
		name:'equipment'
		})
		//- trigger:{triggeredFuncs:['removeEquipment']}
		.row
			+text({name:'item', 'data-i18n-placeholder':'Item'})
			.select
				+select({name:'itemSize'
					})
					//- trigger:{triggeredFuncs:['calculateBulk']}
					+option({'data-i18n':'size',selected:''})
					+option({'data-i18n':'negligible',value:'0'})
					+option({'data-i18n':'small',value:'0.25'})
					+option({'data-i18n':'normal',value:'1'})
					+option({'data-i18n':'large',value:'4'})
