section(data-i18n-aria-label="equipment")
	h2(data-i18n='equipment')
	.header
		label(for='equipment slots').input-label
			span(data-i18n='equipment slots')
		+number({name:'equipment slots'}).span-2

	+customControlFieldset({
		name:'equipment'
		})
		//- trigger:{triggeredFuncs:['removeEquipment']}
		//- description, resource cost
		.row
			.select
				+select({name:'type'
					})
					//- trigger:{triggeredFuncs:['calcBulk']}
					+option({'data-i18n':'type',selected:''})
					+option({'data-i18n':'misc',value:'misc'})
					+option({'data-i18n':'outfit',value:'outfit'})
					+option({'data-i18n':'utility',value:'utility'})
					+option({'data-i18n':'weapon',value:'weapon'})
			+text({name:'item', 'data-i18n-placeholder':'Item'})
			.select
				+select({name:'size'
					})
					//- trigger:{triggeredFuncs:['calcBulk']}
					+option({'data-i18n':'size',selected:''})
					+option({'data-i18n':'innate',value:'i'})
					+option({'data-i18n':'natural',value:'n'})
					+option({'data-i18n':'trinket',value:'0.2'})
					+option({'data-i18n':'small',value:'1'})
					+option({'data-i18n':'normal',value:'2'})
					+option({'data-i18n':'large',value:'3'})
			+number({name:'resources','data-i18n-placeholder':'Res'})
		.row
			+textarea({name:'description','data-i18n-placeholder':'Description'})
