.flex.vertical
	include ./outpost/_outpost_id.pug
	include ./outpost/_outpost_calculated.pug
include ./outpost/_outpost_attributes.pug
include ./outpost/_outpost_production.pug
include ./outpost/_outpost_trade.pug
include ./_notes.pug
