section(data-i18n-aria-label="attributes")
	.attributes.column-4
		h2(data-i18n='attributes')
		.grid.tiny-gap
			+attributeHeader(false)
			each attr in outpostAttributes
				+attributeRow(attr, false)
