include ./_attributes.pug

section(data-i18n-aria-label="pc")#pc
	h2(data-i18n='character')
	.flex.vertical
		//- button:{content:'emoji_emotions PC',class:'material-icons'}
		.flow
			+input-label({
				label:'Name',
				inputObj:{name:'name',type:'text'}
			})

		//-+select({name:'species'})
		.flow
			+select-label({
				label:'Species',
				inputObj:{name:'species'}
				})
				+option({value:'','data-i18n':'select'})
				+option({value:'Corporation','data-i18n':'corporation'})
				+option({value:'Kaltoran','data-i18n':'kaltoran'})
				+option({value:'Legion','data-i18n':'legion'})
				+option({value:'Nephilim','data-i18n':'nephilim'})
				+option({value:'Remnant','data-i18n':'remnant'})
				+option({value:'Twi-Far','data-i18n':'twifar'})
				+option({value:'Zhou','data-i18n':'zhou'})

		.flow
			+currentMax-label({
				label:'Resources',
				inputObj:{name:'resources'}
			})
		.flow
			+currentMax-label({
				label:'Influence',
				inputObj:{name:'influence'}
				})
		.flow
			+currentMax-label({
				label:'Grit re-rolls',
				inputObj:{name:'grit_rolls'}
				})
		.flow
			+currentMax-label({
				label:'Spare time',
				inputObj:{name:'spare_time'}
				})

//-|Here:&#xEB40;:shoes
include ./_skills.pug
include ./_combatSkills.pug
include ./_perks.pug
include ./_specialization.pug
include ./_trade.pug
include ./_equipment.pug
