section(data-i18n-aria-label="pc")#pc
	h2(data-i18n='character')
	.grid.column-4
		label(for='character_name').input-label
			span(data-i18n='name')
		+text({name:'character_name'}).span-3

		label(for='species').input-label
			span(data-i18n='species')
		.select.span-3
			+select({name:'species'})
				+option({value:'','data-i18n':'select'})
				+option({value:'Corporation','data-i18n':'corporation'})
				+option({value:'Kaltoran','data-i18n':'kaltoran'})
				+option({value:'Legion','data-i18n':'legion'})
				+option({value:'Nephilim','data-i18n':'nephilim'})
				+option({value:'Remnant','data-i18n':'remnant'})
				+option({value:'Twi-Far','data-i18n':'twifar'})
				+option({value:'Zhou','data-i18n':'zhou'})

		include ./_characterBits.pug

include ./_attributes.pug
include ./_weapons.pug
include ./_skills.pug
include ./_combatSkills.pug
include ./_perks.pug
include ./_specialization.pug
include ./_trade.pug
include ./_equipment.pug
//- include ./_notes.pug
