include ./character/_character_id.pug
include ./character/_attributes.pug
include ./character/_combat.pug
include ./character/_weapons.pug
include ./character/_skills.pug
include ./character/_combatSkills.pug
include ./character/_equipment.pug
include ./character/_perks.pug
include ./character/_trade.pug
include ./character/_specialization.pug
include ./_notes.pug
