//-+tab({tabName:'settings',button:{class:'pictos',content:'y'},container:'article'})#settings
section(data-i18n-aria-label="settings")
	h2(data-i18n='settings')
	.flex.vertical
		.setting
			+select-label({
				inputObj:{name:'character type',class:'underlined',trigger:{
					triggeredFuncs:['sheetTypeDisplay']
				}},
				spanObj:{'data-i18n':'character type'},
				})
				+option({'data-i18n':'pc',value:'pc',selected:''})
				+option({'data-i18n':'npc',value:'npc'})
				+option({'data-i18n':'outpost',value:'outpost'})
				+option({'data-i18n':'spacecraft',value:'spacecraft'})

		.setting
			+select-label({
				inputObj:{name:'whisper',class:'underlined',trigger:{
					triggeredFuncs:['sheetTypeDisplay']
				}},
				spanObj:{'data-i18n':'whisper rolls to gm'},
				})
				+option({'data-i18n':'never',value:'',selected:''})
				+option({'data-i18n':'always',value:'/w gm '})
