section(data-i18n-aria-label="skills")#skills
	.skills
		h2(data-i18n='skills')
		//- TODO should affect all skills
		+input({name:'untrained',
			type:'number',
			value: -2,
			trigger
			})

		.grid.tiny-gap
			+skillHeader
			each skill in primarySkills
				+skillRow(skill)
