.flex-vertical
	include ./spacecraft/_spacecraft_id.pug
	include ./spacecraft/_spacecraft_calculated.pug
include ./spacecraft/_spacecraft_attributes.pug

include ./spacecraft/_spacecraft_weapons.pug
include ./spacecraft/_spacecraft_cargo.pug
include ./spacecraft/_spacecraft_subsystems.pug
include ./spacecraft/_spacecraft_rooms.pug

include ./_notes.pug
