section(data-i18n-aria-label="specializations")
	h2(data-i18n='specializations')
	.rule +2 to all non-Acquisition and non-Attack Rolls narratively connected to this topic.
	+customControlFieldset({
		name:'specializations'
		})
		//- trigger:{triggeredFuncs:['removeSpecialization']}
		+text({name:'specialization', 'data-i18n-placeholder':'Specialization'})
