section(data-i18n-aria-label="weapons")
	h2(data-i18n='weapons')
	+customControlFieldset({
		name:'weapons'
		})
		//- trigger:{triggeredFuncs:['removeTradeGoods']}
		.grid.weapon
			+label({label:'Weapon'})
			+label({label:'Skill'})
			+label({label:'Type'})
			+label({label:'d6'}).column
			+label({label:'Hit'}).column
			+label({label:'Rng'}).column
			+label({label:'End'}).column
			+label({label:'Crit'}).column
			+label({label:'Res'}).column

			div
				+roller({
					name:'roll',
					value:"&{template:fe2} {{roll1=[[1d6]]}} {{roll2=[[1d6]]}} {{roll3=[[1d6]]}}",
					trigger:{triggeredFuncs:['rollAttack']}
					})
				+text({
					name:'weapon',
					'data-i18n-placeholder':'Weapon'
					})
			.select
				+select({name:'skill'})
					+option({value:'','data-i18n':'skill'})
					+option({'data-i18n':'small arms'})
					+option({'data-i18n':'heavy arms'})
					+option({'data-i18n':'tactical'})
					+option({'data-i18n':'exotic'})
			.select
				+select({name:'type'})
					+option({value:'','data-i18n':'type'})
					+option({'data-i18n':'companion'})
					+option({'data-i18n':'gun'})
					+option({'data-i18n':'melee'})
					+option({'data-i18n':'shell'})
					+option({'data-i18n':'special'})
			+number({name:'hitDice'})
			+number({name:'hit'})
			+number({name:'range'})
			+number({name:'enduranceDamage'})
			+number({name:'criticalDamage'})
			+number({name:'resources'})
		.row
			+adaptiveTextarea({
				name:'features',
				'data-i18n-placeholder':'Features'
				})
