section(data-i18n-aria-label="attributes")
	- showColumns = {name:true, modifier:false, current: true, limit:false, trait:true}
	.attributes.outpost
		h2(data-i18n='attributes')
		.grid.tiny-gap
			+attributeHeader(showColumns)
			each attr in outpostAttributes
				+attributeRow(attr, showColumns)
