section(data-i18n-aria-label="perks").narrow
	h2(data-i18n='perks & complications')
	+customControlFieldset({
		name:'perkcomplication'
		})
		.row
			+text({
				name:'perk',
				'data-i18n-placeholder':'Name'
				})
			+button({
				name:'post',
				type:'action',
				class:'material-icons',
				'data-18n':'w',
				'data-action':'post',
				trigger: { triggeredFuncs: ['postRepeating'] }
				})
		.row
			+textarea({
				name:'description',
				'data-i18n-placeholder':'Description'
				})
