// ./scss/_rolltemplate.scss
@use 'k-scaffold' as k;
@use './scss';
// use the K-scaffold's sfc export:
@use 'sfc';

.sheet-rolltemplate-fe2 {
	@include scss.variables;
	&.sheet-rolltemplate-darkmode{
		@include scss.darkVariables;
	}
	.sheet-template{
		@include k.defaultRollStyling;
		@include scss.roll;
		@include sfc.roll;

		--inlineRollFumbleColor: #c70000;

		border: 1px solid var(--fontColor);
		font-size: 1em;
		h2:not(input), h2:not(input) * {
			display: flex;
			font-size: var(--fontSize);
			padding-left: var(--tiny-gap);
			padding-right: var(--tiny-gap);
			padding-top: 1px;
			padding-bottom: 1px;
			text-transform: capitalize;
			text-align: left;
			background-color: var(--fontColor);
			color: var(--backColor);
		}
		h2 > .sheet-source:before { content:'['; }
		h2 > .sheet-source:after { content:']'; }
		h2 > .sheet-source {
			display: inline-block;
			margin-left: auto;	
		}
		.sheet-requirements {
			border-bottom: 1px solid;
			padding: var(--half-gap);
			padding-top: var(--tiny-gap);
			padding-bottom: var(--tiny-gap);
		}
		.sheet-template-row {
			display: block;
		}
		.sheet-roll-total {
			font-size: 2rem;
			line-height: normal;
			text-align: center;
		}
		.sheet-strong-hits {
			text-align: center;
			font-size: var(--fontSize);
		}
		.sheet-attack {
			padding: var(--half-gap);
			border-bottom: 1px solid var(--fontColor);
			display: grid;
			grid-template-columns: auto auto auto;
			.sheet-range, .sheet-munitions, .sheet-endurance, .sheet-critical {
				display: block;
				width: auto;
				justify-self: start;
			}
			.sheet-roll-total {
				grid-row-end: span 4;
				justify-self: stretch;
				border-left: 1px solid var(--fontColor);
			}
		}
		.sheet-description {
			padding: var(--half-gap);
		}
	}
}
