include k-scaffold
include ./components/_index.pug
include ./sections/_index.pug

- const templateName = 'fe2';

//- Stores the sheet version number for use with version control functions
- k.version = 1 // +hidden({name:'sheet_version',value:1})
+hidden({name:'whisper',value:' '})
//- An input to contain template fields that should always be output with a roll.
+hidden({name:'template start',value:`@{whisper}&{template:${templateName}} {{character_name=@{character_name}}} {{character_id=@{character_id}}}`})

//- Import Roboto font from google
//-+googleFont('Roboto')
+googleFont('Material Icons')
+googleFont('PT Sans Narrow')
//-+googleFont('Barlow Condensed')

//- Now, for our actual sheet. We'll wrap this in a main element and give it an ID of main.
main#main
	+tabs({name:'sheet-tabs',defaultActiveTab:'pc',persistent:true})(class="outer")
		//- Add additional tabs as needed
		+tab({name:'pc',button:{content:'PC'},container:'article'})(class="tab_horizontal")
			include ./views/_pc.pug
		+tab({name:'npc',button:{content:'NPC',class:'material-icons'},container:'article'})(class="tab_horizontal")
			include ./views/_npc.pug
		+tab({name:'outpost',button:{content:'outpost'},container:'article'})(class="tab_horizontal")
			include ./views/_outpost.pug
		+tab({name:'spacecraft',button:{content:'spacecraft',class:'material-icons'},container:'article'})(class="tab_horizontal")
			include ./views/_spacecraft.pug
		+tab({name:'settings',button:{class:'pictos',content:'y'},container:'article'})(class="tab_horizontal")
			include ./views/_settings.pug

include ./rolltemplate/_fe2.pug

+kscript('FE2')
	//- All additional javascript files should be included in the index file
	include ./javascript/_index.pug
