section(data-i18n-aria-label="subsystems").narrow
	h2(data-i18n='subsystems')
	+customControlFieldset({
		name:'subsystem'
		})
		+text({
			name:'subsystem',
			'data-i18n-placeholder':'Subsystem'
			})
		+textarea({
			name:'description',
			'data-i18n-placeholder':'Description'
			})
