section(data-i18n-aria-label="spacecraft")#spacecraft
	h2(data-i18n='spacecraft')

	.grid.column-2
		label(for='character_name').input-label
			span(data-i18n='name')
		+text({name:'character_name'})

		label(for='build').input-label
			span(data-i18n='build')
		+text({name:'build'})

		label(for='build_cost').input-label
			span(data-i18n='build cost')
		+number({name:'build_cost',trigger:{affects:['influence_cost']}})

		label(for='influence_cost').input-label
			span(data-i18n='influence cost')
		div
			+readOnly({
				name:'influence_cost',
				trigger:{calculation:'calcInfluenceCost'}
				})
			| +
			+readOnly({
				name:'systems_influence_cost',
				trigger:{calculation:'calcSpacecraftSystemsInfluence'}
				})
			label(for='systems_influence_cost').input-label
				span(data-i18n='systems')

		label(for='cargo_space').input-label
			span(data-i18n='cargo')
		.span-1
			+readOnly({
				name:'cargo_space',
				trigger:{calculation:'calcCargoUsed'}
				})
			+calculation(spacecraftCalculated.cargo_space_max)
